<div class="alert alert-success alert-dismissible fade in" *ngIf="userAdded">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> User Added SuccessFully
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save()"
              [formGroup]="customerForm">
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('firstName').touched || 
                                              customerForm.get('firstName').dirty) &&
                                              !customerForm.get('firstName').valid }">
                    <label class="col-md-2 control-label" 
                           for="firstNameId">First Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="firstNameId" 
                               type="text" 
                               placeholder="First Name (required)" 
                               formControlName="firstName" />
                        <span class="help-block" *ngIf="(customerForm.get('firstName').touched || 
                                                         customerForm.get('firstName').dirty) && 
                                                         customerForm.get('firstName').errors">
                            <span *ngIf="customerForm.get('firstName').errors.required">
                                Please enter your first name.
                            </span>
                            <span *ngIf="customerForm.get('firstName').errors.minlength">
                                The first name must be longer than 5 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('lastName').touched || 
                                              customerForm.get('lastName').dirty) &&
                                              !customerForm.get('lastName').valid }">
                    <label class="col-md-2 control-label" 
                           for="lastNameId">Last Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="lastNameId" 
                               type="text" 
                               placeholder="Last Name (required)" 
                               formControlName="lastName" />
                        <span class="help-block" *ngIf="(customerForm.get('lastName').touched || 
                                                         customerForm.get('lastName').dirty) && 
                                                         customerForm.get('lastName').errors">
                            <span *ngIf="customerForm.get('lastName').errors.required">
                                Please enter your last name.
                            </span>
                            <span *ngIf="customerForm.get('lastName').errors.minlength">
                                The last name must be longer than 5 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div formGroupName="emailGroup"
                    [ngClass]="{'has-error': customerForm.get('emailGroup').errors}">
                    <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('emailGroup.email').touched || 
                                              customerForm.get('emailGroup.email').dirty) &&
                                              !customerForm.get('emailGroup.email').valid }">
                        <label class="col-md-2 control-label" 
                            for="emaileId">Email</label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                id="emailId" 
                                type="text" 
                                placeholder="Email(required)" 
                                formControlName="email" />
                            <span class="help-block" *ngIf="(customerForm.get('emailGroup.email').touched || 
                                                            customerForm.get('emailGroup.email').dirty) && 
                                                            customerForm.get('emailGroup.email').errors">
                                <span *ngIf="customerForm.get('emailGroup.email').errors.required">
                                    Please enter your Email.
                                </span>
                                <span *ngIf="customerForm.get('emailGroup.email').errors.pattern">
                                Please Enter valid email
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                            [ngClass]="{'has-error': (customerForm.get('emailGroup.Confirmemail').touched || 
                                                    customerForm.get('emailGroup.Confirmemail').dirty) &&
                                                    !customerForm.get('emailGroup.Confirmemail').valid }">
                            <label class="col-md-2 control-label" 
                                for="ConfirmemailId">Confirm Email</label>

                            <div class="col-md-8">
                                <input class="form-control" 
                                    id="ConfirmemailId" 
                                    type="text" 
                                    placeholder="Confirmemail(required)" 
                                    formControlName="Confirmemail" />
                                <span class="help-block" *ngIf="(customerForm.get('emailGroup.Confirmemail').touched || 
                                                                customerForm.get('emailGroup.Confirmemail').dirty) && 
                                                                customerForm.get('emailGroup.Confirmemail').errors">
                                    <span *ngIf="customerForm.get('emailGroup.Confirmemail').errors?.required">
                                        Please enter your Confirmemail.
                                    </span>
                                    <span *ngIf="customerForm.get('emailGroup.Confirmemail').errors?.match">
                                    Please Enter valid Confirmemail
                                    </span>
                                </span>
                            </div>
                    </div>

                </div>
                
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('password').touched || 
                                              customerForm.get('password').dirty) &&
                                              !customerForm.get('password').valid }">
                    <label class="col-md-2 control-label" 
                           for="passwordId">Password</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="passwordId" 
                               type="password" 
                               placeholder="Password(required)" 
                               formControlName="password" />
                        <span class="help-block" *ngIf="(customerForm.get('password').touched || 
                                                         customerForm.get('password').dirty) && 
                                                         customerForm.get('password').errors">
                            <span *ngIf="customerForm.get('password').errors.required">
                                Please enter your password.
                            </span>
                            
                            <span *ngIf="customerForm.get('password').errors.pattern">
                                    Please enter valid
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                        <label class="col-md-2 control-label" 
                               for="subScriptionId">SubScription</label>
    
                        <div class="col-md-8">
                            <select formControlName="subScription" id="subScription"
                            class="form-control">
                                <option [ngValue]="plan" *ngFor="let plan of plans">
                                    {{plan}}
                                </option>
                            </select>
                        </div>
                    </div>
               
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-success btn-space"
                                    type="submit"
                                    [disabled]="!customerForm.valid">
                                Save
                            </button>
                            <button class="btn btn-danger btn-space"
                                    type="Button"
                                    (click)="resetForm()">
                                Reset
                            </button>
                            <button class="btn btn-warning"
                                    type="Button"
                                    (click)="populateData()">
                                Test Data
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
